<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>今日发生疫情省份统计</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- 引入 ECharts 文件 -->
  <script src="{% static 'js/echarts.min.js' %}"></script>

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/home_style.css' %}" rel="stylesheet">

</head>

<body>
  <script>  window.today_confirm2={{ today_confirm2|safe }}</script>
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <div class="logo float-left">
<h1 class="text-light"><a href="https://baike.baidu.com/item/%E6%96%B0%E5%9E%8B%E5%86%A0%E7%8A%B6%E7%97%85%E6%AF%92%E8%82%BA%E7%82%8E/24282529"><h1><font face="宋体">COVID-19</font></h1></a></h1>        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li><a href="/">首页</a></li>
          <li><a href="{% url 'patient' %}">新冠患者的前置条件</a></li>
          <li><a href="{% url 'sym' %}">新冠患者特征</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

    <!-- ======= 评分图展示 ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>各省份今日新增确诊病例数</h2>
        </div>

          <!-- ======= 预览板块 ======= -->
        <section class="counts section-bg">
            <div class="container">
          <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
          <div id="dom1" style="width: 98%;height:400px;"></div>
            </div>
        </section><!-- End Counts Section -->
      </div>
    </section><!-- 结束 首页 -->




  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
   <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
   <script src="{% static 'vendor/jquery-sticky/jquery.sticky.js' %}"></script>
   <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
   <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
   <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
   <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
   <script src="{% static 'vendor/aos/aos.js' %}"></script>
   <script src="{% static 'js/canvas-nest.js' %}"></script>
  <!-- Template Main JS File -->

  <script src="{% static 'js/home_main.js' %}"></script>

    <script type="text/javascript">
      {#console.log({{ today_confirm_name }})#}
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('dom1'));
        var mydata=today_confirm2
        // 指定图表的配置项和数据
        option = {
            color: [
                '#006cff', '#60cda0', '#ed8884', '#ff9f7f', '#0096ff', '#9fe6b8', '#32c5e9', '#1d9dff',
                '#006cff', '#60cda0', '#ed8884', '#ff9f7f', '#0096ff', '#9fe6b8', '#32c5e9', '#1d9dff',
                '#006cff', '#60cda0', '#ed8884', '#ff9f7f', '#0096ff', '#9fe6b8', '#32c5e9', '#1d9dff',
                '#006cff', '#60cda0', '#ed8884', '#ff9f7f', '#0096ff', '#9fe6b8', '#32c5e9', '#1d9dff',
                '#006cff', '#60cda0', '#ed8884', '#ff9f7f', '#0096ff', '#9fe6b8', '#32c5e9', '#1d9dff',
                '#006cff', '#60cda0', '#ed8884', '#ff9f7f', '#0096ff', '#9fe6b8', '#32c5e9', '#1d9dff'
            ],
            legend: {
                top: 'bottom',
                textStyle: {
                    fontSize: 10,
                    color: '#000',
                }
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            series: [
                {
                    name: '新增病例',
                    type: 'pie',
                    radius: ['20%', '50%'],
                    center: ['50%', '50%'],
                    roseType: 'radius',
                    itemStyle: {
                        borderRadius: 8
                    },
                    data:mydata,
                }
            ]
        };
        //3.赋值组件给对象
        myChart.setOption(option);
        //4.屏幕跟着自适应
        window.addEventListener("resize", function () {
            myChart.resize();
        });

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

    </script>
</body>

</html>
