* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

#contbox {
    width: 1000px;
    height: 538px;
    margin: 2% auto;
    position: relative;
    top: 10%;
    border-radius: 15px;
    overflow: hidden;
}

/* 图片容器 */
#img_list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 280px;
}

#img_list>li {
    transition: opacity 200ms ease-in-out 0s;
    opacity: 0;
    width: 1000px;
    height: 538px;
    position: absolute;
    left: 0;
    top: 0;
}

#img_list>li>a {
    position: absolute;
    width: 100%;
    height: 100%;
}

#img_list>li>a>img {
    width: 100%;
    height: 100%;
}

/* 指示点 */
#dot_list {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    border-radius: 12px;
    height: 18px;
    line-height: 18px;
    background: rgba(255, 255, 255, 0.4);
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    margin: 0 2.5px;
}

.cur {
    background: #ff5000;
    cursor: default;
}

/* 左右箭头 */
.arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateY(-15px);
    text-align: center;
    z-index: 1;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.arrow>span {
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    border-top: 2px solid white;
}

.left_arrow>span {
    border-left: 2px solid white;
    transform: rotate(-45deg) translateY(-9px);
    left: 65%;
}

.right_arrow>span {
    border-right: 2px solid white;
    transform: rotate(45deg) translateY(-9px);
    right: 65%;
}

.left_arrow {
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    left: -8px;
}

.right_arrow {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    right: -8px;
}

