*{
    margin: 0;
    padding: 0;
}
/*body{*/
/*    height: 100vh;*/
/*    overflow: hidden;*/
/*    !*background: linear-gradient(to top right,#FC4668,#3F5EFB);*!*/
/*}*/
.box{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    box-sizing: 0 0 10px rgba(0,0,0,0.1);
    background: rgba(96,1,0,0.1);
    cursor: pointer;
    transition: all .5s;
}
.box > .item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
}
.box > .item >div{
    width: 150px;
    height: 100px;
    display: none;
    transition: all .5s;
    font-size: 20px;
}
.box > .item >div:hover{
    background: #FA7921;
    box-shadow: 0 0 10px #fa7921;
    color: white;
    text-shadow:0 0 10px #ffffff;
}